/* style.css */

/* importing Roboto font from Google */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


html, body {
    font-family: Roboto;
    margin: 0;
    padding: 0;
    height: 100%;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
}

.top-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1000px;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
    padding-bottom: 80px;
    width: 1000px;
}

.logo-text {
    display: flex;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.links {
    display: flex;
    font-size: 18px;
    color: #F9FAF8;
}

ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 16px;    
}

button {
    background-color: #3882F6;
    border: 1px solid #ffffff;
    color: white;
    cursor: pointer;
    border-radius: 6px;
    width: 150px;
    height: 40px;
}

.left-side {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 450px;
    gap: 16px;
}

.header {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.hero-text {
    font-size: 18px;
    color: #E5E7EB;
}

.placeholder {
    background-color: grey;
    display: flex;
    width: 480px;
    height: 240px;
    align-items: center;
    justify-content: center;
}

.card {
    border: 4px solid #3882F6;
    border-radius: 8px;
    padding: 20px;
    width: 150px;
    height: 150px;
    flex-shrink: 0;
}

.information-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.information-header {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    padding: 80px;
    width: 1000px;
    display: flex;
    justify-content: center ;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    padding: 0 0 60px 0;
}

.card-container{
    display: flex;
    justify-content: space-evenly;
    width: 950px;
    padding-bottom: 80px; 
}

.card-columns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 150px;
    flex-shrink: 0;
    flex-wrap: nowrap;
}

.description {
    color: #1F2937;
    text-wrap: pretty;
    text-align: center;
}

.testimonial {
    background-color: #E5E7EB; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
    width: 1000px; 
}

p.author {
    text-align: right;
    width: 1000px;
    justify-content: end;
    align-items: end;
}

.signup-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.signup-wrapper {
    display: flex;
    color: white;
    background-color: #3882F6;
    justify-content: space-around;
    width: 1000px;
    padding: 60px;
    border-radius: 8px;
}

.footer {
    height: 72px;
    background: #1F2937;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

